In [5]:
import pandas as pd

In [9]:
churndf = pd.read_csv('churn_db.csv')

churndf["date.inscr"] = pd.to_datetime(churndf["date.inscr"])
churndf['date.dern.lect'] = pd.to_datetime(churndf['date.dern.lect'])

churndf

,userid,date.inscr,date.dern.lect,Resiliation,Reachat,Country,mail.spont,score.ouv.news,n.ventes,revenues,gender
0,1,2011-09-17,2011-10-07,0,0,Germany,0,1.495834,11,0.000000,1
1,2,2017-01-17,2017-01-31,0,0,UK,1,8.946863,56,20.722862,1
2,3,2019-05-14,2019-06-17,0,0,France,1,2.496199,13,31.399277,1
3,4,2015-11-27,2016-01-15,0,0,Spain,1,2.823579,32,0.000000,0
4,5,2014-11-28,2015-01-15,0,1,UK,0,2.117433,21,38.510225,0
...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,2014-09-08,2014-11-04,0,1,UK,0,0.911377,7,0.000000,0
2996,2997,2012-07-08,2012-08-19,0,1,Germany,0,1.704222,17,24.808191,0
2997,2998,2009-10-25,2009-11-15,0,0,Germany,0,3.998883,36,0.000000,1
2998,2999,2015-09-23,2015-10-30,0,0,Spain,0,3.204676,29,23.956446,0
2999,3000,2010-12-08,2010-12-26,0,0,Spain,0,2.232083,19,24.433068,1